<<<<<<< HEAD
h1{
    color: red;
    background-color: greenyellow;
    text-align: center;
}
#demo
{
    color: aqua;
    background-color: blue;
    margin-left: 50px;
    margin-right: 1200px;


=======
h1{
    color: red;
    background-color: greenyellow;
    text-align: center;
}
#demo
{
    color: aqua;
    background-color: blue;
    margin-left: 50px;
    margin-right: 1200px;


>>>>>>> 68c1affa939808b36878a1de50e9a0a53e66fad3
}