<<<<<<< HEAD
body
{
    background-color: aqua;
}
nav
{
    background-color: black;
}
nav a{ color: white; padding: 10px;}

header h1 
{
    background-color: white;
    text-align: center; 
    margin-left: 500px; 
    margin-right: 500px;
}

=======
body
{
    background-color: aqua;
}
nav
{
    background-color: black;
}
nav a{ color: white; padding: 10px;}

header h1 
{
    background-color: white;
    text-align: center; 
    margin-left: 500px; 
    margin-right: 500px;
}

>>>>>>> 68c1affa939808b36878a1de50e9a0a53e66fad3
